@{
    var nonce = Context.Items["ScriptNonce"]?.ToString();
}

<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RemoteBackupsApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/RemoteBackupsApp.MVC.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
</head>
<body>
    <div id="loadingSpinner" class="d-none text-center mt-3">
        <div class="spinner-border text-primary" role="status"></div>
    </div>

    <div id="popup-message" class="popup">
        <i class="bi bi-check-circle-fill text-success"></i> Operacja zakończona pomyślnie!
    </div>

    @RenderBody()
    <script src="~/lib/jquery/dist/jquery.min.js" nonce="@nonce"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js" nonce="@nonce"></script>
    <script src="~/js/site.js" asp-append-version="true" nonce="@nonce"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/8.0.0/signalr.min.js" nonce="@nonce"></script>

    @await RenderSectionAsync("Scripts", required: false)
    @await Component.InvokeAsync("NToastNotify", new { nonce = nonce })
</body>
</html>
