@model IEnumerable<RemoteBackupsApp.Domain.ViewModels.Backup.BackupViewModel>

@{
    ViewData["Title"] = "Index";
    bool isLogIn = await userContext.IsUserLogIn();
}

@if (isLogIn)
{
    <a id="create-backup-button" data-bs-toggle="modal" data-bs-target="#createBackupModal" class="btn btn-primary">@Localizer["CreateMessage"]</a>
}

@if (Model.Count() > 0 && isLogIn)
{
    <div class="grid-container">
        @foreach (var backup in Model)
        {
            <div class="card item text-center">
                <div class="card-body">
                    <h4 class="card-title">@backup.BackupName</h4>
                    <p class="card-subtitle">@backup.CreationDate</p>
                    <p class="card-text">
                        @backup.Size
                    </p>
                </div>
                <div class="card-footer">
                    <a asp-action="Download" asp-route-backupId="@backup.Id" class="btn btn-primary">
                        <svg xmlns="http://www.w3.org/2000/svg" width="1rem" height="1rem" fill="currentColor" class="bi bi-cloud-arrow-down-fill" viewBox="0 0 16 16">
                            <path d="M8 2a5.53 5.53 0 0 0-3.594 1.342c-.766.66-1.321 1.52-1.464 2.383C1.266 6.095 0 7.555 0 9.318 0 11.366 1.708 13 3.781 13h8.906C14.502 13 16 11.57 16 9.773c0-1.636-1.242-2.969-2.834-3.194C12.923 3.999 10.69 2 8 2zm2.354 6.854-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 1 1 .708-.708L7.5 9.293V5.5a.5.5 0 0 1 1 0v3.793l1.146-1.147a.5.5 0 0 1 .708.708z" />
                        </svg>
                    </a>
                    <a asp-action="Delete" asp-route-backupId="@backup.Id" class="btn btn-warning">
                        <svg xmlns="http://www.w3.org/2000/svg" width="1rem" height="1rem" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                            <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z" />
                        </svg>
                    </a>
                </div>
            </div>
        }
    </div>
}
else if (!isLogIn)
{
    <h3 class="text-center">@Localizer["MessageForNotLogin"]</h3>
}
else
{
    <h3 class="text-center">@Localizer["EmptyBackupsMessage"]</h3>
}


<div class="modal fade" id="createBackupModal" tabindex="-1" aria-labelledby="createBackupModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">@Localizer["UploadMessage"]</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="registerLoginModal" tabindex="-1" aria-labelledby="registerLoginModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>

<script src="~/js/signalr/dist/browser/signalr.js"></script>

<script type="text/javascript">
    let connection = new signalR.HubConnectionBuilder().withUrl("/notyfyComplete").build();

    connection.start().then(function () {
        console.log("SignalR connection established.");
    }).catch(function (err) {
        return console.error(err.toString());
    });

    connection.on("JobCompleted", function () {
        location.reload();
    });
</script>
