@model RemoteBackupsApp.Domain.ViewModels.Authentication.RegisterViewModel

<h3 class="text-center">@Localizer["RegisterInformation"]</h3>

<form method="POST" asp-controller="Auth" asp-action="Register">
    <div class="mb-3">
        <label for="UserName" class="form-label">@Localizer["UserName"]</label>
        <input type="text" class="form-control" name="UserName" placeholder="@Localizer["UserNamePlaceholder"]" required>
    </div>
    <div class="mb-3">
        <label for="Email" class="form-label">Email</label>
        <input type="email" class="form-control" name="Email" placeholder="@Localizer["EmailPlaceholder"]" required>
    </div>
    <div class="mb-3">
        <label for="Password" class="form-label">@Localizer["Password"]</label>
        <input type="Password" class="form-control" name="Password" placeholder="@Localizer["PasswordPlaceholder"]" required>
    </div>
    <div class="text-center">
        <button type="submit" class="btn btn-primary text-center">@Localizer["Register"]</button>
    </div>
</form>
